# Uniform LF.
#
# This crate is published to crates.io; there is nothing to gain from CRLF sneaking
# into source files, and it makes diffs flip back and forth between Windows and Unix.
* text=auto eol=lf

# No newline conversion for binary files
*.png  binary
*.ico  binary
*.dll  binary
*.so   binary
*.dylib binary
